*{
    margin: 0px;
    padding: 0px;
    background-color: silver;
}

div{
    width: 200px; height: 200px;
    border: 2px solid black;
    padding: 30px 20px;
    margin: 20px 10px;
    border-radius: 30px;
}