*{
    padding: 0px;
    margin: 0px;
}

/*  [position]
    - static : 기본
    - absolute(절대적) : 가까운 포지셔닝된 부모요소를 기준으로 배치
    - relative(비교) : 원래 있어야 할 위치를 기준으로 배치
    - fixed : 고정
 */
 /*  z-index (우선순위) : (포지션 있어야함) 높을수록 맨 앞 배치 */ 

div{
    width: 500px; height: 500px;
    border: 3px solid black;
    background-color: paleturquoise;
    position: absolute;
    left: 200px;
    top:100px;
}
p{
    width: 100px;
    height: 100px;
    border: 2px solid darkblue;
}

/* p.t1{
    background-color: purple;
    position: absolute;
    z-index: 9; 
} */
p.t2{
    background-color: yellow;
    /* position: absolute;
    left: 20px;
    top:20px;
    z-index: 1;  */

    position: relative;
    left: 20px;
    top:0px;
    
}
p.t3{
    background-color: pink;
    /* position: absolute;
    left: 40px;
    top:40px;
    z-index: 0; */

    position: relative;
    left: 30px;
    top: 0px;

}