div{
    width: 500px; height: 280px;
    border: 2px solid darkblue;
    position: absolute;
    top:90px;
    left:60px;
}

p.t1{
    background-color: darkred;
    border: 2px solid black;
    width: 180px; height: 60px;
    position: relative;
    top:30px;
    left:70px;
    z-index: 0;
}

p.t2{
    background-color: green;
    border: 2px solid darkgreen;
    width: 180px; height: 60px;
    position: absolute;
    top:60px;
    left:160px;
    z-index: 2;
}

p.t3{
    background-color: orange;
    border: 2px solid darkgoldenrod;
    width: 150px; height: 110px;
    position: absolute;
    top:80px;
    left:110px;
    z-index: 1;
}