*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 500px; height: 2000px;
    border: 1px solid blue;
}

div{
    position: relative;
    left: 50px;
    top:50px;
    background-color: silver;
}

p{
    border: 1px solid yellow;
    width: 100px; height: 100px;
}

p.t4{
    background-color: red;
    position: sticky; /* 제자리에 있다가 스크롤시 따라밀려옴*/
    top: 0px;
}