div#wrap{
    height: 500px;
    background-color: silver;  
    display: flex; /* 크기를 바꿔서라도 한줄에 우겨넣음 */
    flex-wrap: wrap; /* 크기변형X 한줄 넘으면 다음줄*/
    /* flex-direction: column; */
    justify-content: flex-end; /* 왼쪽에 붙을지 오른쪽에 붙을지 */
    justify-content: space-around; /* row정렬 후 사이사이 공간주기  /  column 정렬 후 가운데 배치 (위아래 공간주기) */
    justify-content: space-between; /*  row정렬 후 양쪽 끝에 붙기  /  column 정렬 후 위아래 끝에 붙기*/
}

div.d1{
    width: 200px;
    height: 100px;
}
div.d1:nth-child(odd){
    background-color: skyblue;
    padding: 50px 0;
}
div.d1:nth-child(even){
    background-color: pink;
    padding: 30px 0px;
}