div#wrap{
    height: 800px;
    background-color: silver;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
div.d1{
    width: 200px;
    height: 100px;
}
div.d1:nth-child(odd){
    background-color: skyblue;
    padding: 50px 0;
}
div.d1:nth-child(even){
    background-color: pink;
    padding: 30px 0px;
}