div.wrap{
    height: 900px;
    background-color: silver;
    display: flex;

}

div.wrap> div{
    width: 100px; height: 100px;
}
.d1{
    order:1; /* 정렬 순서 */
    background-color: red;
    flex-grow: 2; /* 크기 비율이 2배로 확대 */
    flex-shrink: 1; /* 크기 비율이 1배로 축소 */
}
.d2{
    order:2;
    background-color: orange;
    flex-grow: 1;
    flex-shrink: 2;
}
.d3{
    order:5;
    background-color: orchid;
    flex-grow: 1;
    flex-shrink: 1;
}
.d4{
    order:3;
    background-color: green;
    flex-grow: 1;
    flex-shrink: 1;
}
.d5{
    order:4;
    background-color: blue;
    flex-grow: 1;
    flex-shrink: 0.3;
}


div.wrap>div:nth-child(odd){
    padding: 50px 0;
}
div.wrap>div:nth-child(even){
    padding: 30px 0px;
}