#wrap{
    width: 800px;
    margin: 0 auto;
    border:2px solid black;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.box{
    padding: 20px;
}

header{
    border:2px solid red;
    margin-bottom: 10px;
    width: 100%;
}

aside{
    width: 22%; height: 75%;
    border:2px solid orange;
}
aside ul li{
    list-style: none;
}
aside ul li a{
    text-decoration: none;
    color: black;
    position: relative;
    left: -25px;
}

section{
    border:2px solid green;  
    width: 62%;
}

footer{
    border:2px solid blue;
    padding: 25px 20px;
    margin-top: 20px;
    width: 100%;
}
